---
type Variant = "green" | "orange" | "white";

interface Props {
  variant?: Variant;
  href: string;
  class?: string;
}

const { href, variant = "green", class: className = "" } = Astro.props;
---

<a href={href} class={`ms-btn ms-btn--${variant} ${className}`}>
  <slot name="icon-left" />
  <span class="ms-btn__text">
    <slot />
  </span>
  <slot name="icon-right" />
</a>
