---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import icon from "../assets/icon.png";

const { pathname } = Astro.url;

// nur auf der Startseite anzeigen
const isHome = pathname === "/" || pathname === "/index";
---

{
  isHome && (
    <section class="custom-hero">
      <div class="custom-hero__content">
        <h1>Anleitungen, Prozesse und Konfigurationen</h1>
        <p class="custom-hero__tagline">metasfresh Dokumentation</p>

        <div class="custom-hero__actions">
          <Button href="/einstieg/anmeldung/" variant="green">
            Für Anwender starten
          </Button>
          <Button
            href="/erweitertefunktionen/datenimportexport/datenexport_aus_metasfresh/"
            variant="orange"
          >
            Für Administratoren & Entwickler starten
          </Button>
        </div>
      </div>

      <div class="custom-hero__image">
        <Image
          src={icon}
          alt="Dokumentation Icon"
          class="custom-hero__image-img"
        />
      </div>
    </section>
  )
}

<style>
  .custom-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    background-color: var(--color-background-light);
    border-radius: 8px;
    margin-bottom: 3rem;
  }

  h1 {
    color: var(--brand-green);
  }

  .custom-hero__content {
    max-width: 70%;
  }

  .custom-hero__tagline {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .custom-hero__actions {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  .custom-hero__image-img {
    max-width: 250px;
    height: auto;
  }
</style>
